rider/src/main/resources/schemas/fileLayout/additionalFileLayout.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:schemas-jetbrains-com:member-reordering-patterns:unity"
           xmlns:tns="urn:schemas-jetbrains-com:member-reordering-patterns:unity"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- TypePattern.Match. Needs to be or fit in to TNodeConstraints -->
    <xs:element name="UnitySerializableClass" />

    <!-- Entry.Match => TNodeConstraints
         Not => Expression -->
    <xs:element name="UnitySerializedField" />

    <!-- Entry.Match => TNodeConstraints
         Entry.SortBy => TSortDescriptor -->
    <xs:element name="UnityEventFunction" />

</xs:schema>
